#header{
    background-color: aqua;
}
#menu{
    background-color: orange;
    float: left;
    width: 150px;
    height: 100%;
    font-size: 20px;
}
#content{
    background-color: white;
    margin-left: 160px;
}
#footer{
    background-color: lightgray;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul{
    list-style: none;
    text-decoration: none; 
}
li{
    list-style: none;
    text-decoration: none;
}
menu{
    list-style: none;
    text-decoration: none;
}
.myforms{
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
      width: 200px;
  }
  #sourceForm{
    background-color: yellow;
  }
  #targetForm{
    background-color: lightgreen;
  }